@model ClassroomHub.Web.ViewModels.UserViewModel
@using System;
@{
    ViewData["Title"] = "Register";
}
<div class="RegisterContainer">
   <div class="login">
        <h2>Cadastro</h2>
        <form asp-controller="Register" asp-action="Register" method="Post">
            <div>
                @Html.TextBoxFor(x => x.Email, new{Placeholder = "Email", @class="input"})
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div>
                @Html.PasswordFor(x => x.Password, new{Placeholder = "Senha", @class="input"})
                @Html.ValidationMessageFor(x => x.Birthday)
            </div>
            <div>
                <hr />
                @Html.DisplayNameFor(x => x.Birthday)
                @Html.TextBoxFor(x => x.Birthday, new{Type="Date", @class="form-control mt-2 mb-2"})
                @Html.ValidationMessageFor(x => x.Birthday)
            </div>
            <div class="box-footer">
                <button type="submit">Cadastrar</button>
                <p>Já tem cadastro?<a asp-controller="Login" asp-action="Index"> Faça login.</a></p>
            </div>
        </form>
   </div>
</div>
