@using ClassRoomHub.Web.ViewModels;
@model IEnumerable<ClassViewModel>

@{
    ViewData["Title"] = "Turmas";
}
<div class="StudentContainer">
    <div class="Student">
         <div class="row mt-3 justify-content-between">
             <div class="col-md-6">
                <h2>Turmas</h2>
             </div>
            <div class="col-md-6">
                <partial name="_find" />
            </div>
        </div>
        <div class="itens">
            <table class="table table-hover table-borderless text-white">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Start)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.End)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @if (Model.Any())
                {
                    var classes = Model.ToList();
                    <tbody>
                        @for(int i = 0; i < classes.Count; i++)
                        {
                            var turma = classes[i];
                            var param = new Tuple<string, Guid>("remove" + i, turma.Id); 
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => turma.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => turma.Start)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => turma.End)
                                </td>
                                <td>
                                    <a asp-route-id="@turma.Id" asp-action="Edit"><i class="fa fa-edit ml-3"></i></a>
                                </td>
                                <td>
                                    <a data-toggle="modal" data-target="#@param.Item1"><i class="fa fa-trash ml-3"></i></a>
                                </td>
                            </tr>
                            <partial name="_delete" model="param" />
                        }
                    </tbody>
                }
                else
                {
                    <tr>
                        <td>
                            <p>Não há turma cadastrada neste curso</p>
                        </td>
                    </tr>
                }
            </table>
        <div class="partial">
            <partial name="_create" model="new ClassViewModel()" />
        </div>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}