@using ClassRoomHub.Web.ViewModels;
@model IEnumerable<StudentViewModel>
<div class="StudentContainer">
    <div class="Student">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <h2 class="text-center">Alunos</h2>
            </div>
            <div class="col-md-6">
                <partial name="_find" />
            </div>
        </div>
        <div class="itens">
            <table class="table table-striped table-hover text-center">
            <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Surname)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
            </thead>
            <tbody>
                     @if (Model.Any())
                    {
                        var students = Model.ToList();
                        var users = ViewBag.Users;
                        for(var i = 0; i < students.Count; i++)
                        {
                            var student = students[i];
                            var param = new Tuple<Guid, String>(student.Id, "student" + i);
                            <tr>
                            <td>
                                @Html.DisplayFor(x => student.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(x=> student.Surname)
                            </td>
                            <td>
                                @Html.DisplayFor(x => student.Email)
                            </td>
                            <td>
                                <a asp-action="Update" asp-route-id="@param.Item1">Edit</a>
                            </td>
                            <td>
                                <a data-toggle="modal" data-target="#@param.Item2">Delete</a>
                            </td>
                        </tr>
                        <partial name="_delete" model="param"></partial>
                        };
                    }
                    else
                    {
                    <tr>
                        <td>
                            <p>Não há alunos cadastrados.</p>
                        </td>
                    </tr>
                    }
                    <partial name="_create" model="new StudentViewModel()" />
            </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}