@using ClassroomHub.Web.ViewModels;
@model ModuleViewModel;

<div class="course-edit">
    <div class="edit-content">
        <h5>Editar Modulo</h5>
        <form method="post" asp-action="Update" asp-controller="Module">
            <div class="modal-body">
                @{
                    var teachers = (SelectList)ViewBag.Teachers;
                }
                <div class="row mt-2">
                    <div class="col-md-12">
                        @Html.TextBoxFor(x => x.Name, new{Placeholder = "Insira o nome do modulo", Atrribute="width:100%", @class="form-control"})
                        @Html.ValidationMessageFor(x => x.Name)
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label asp-for="Start"></label>
                        @Html.TextBoxFor(x => x.Start, new{@class = "form-control", type="Date"})
                        @Html.ValidationMessageFor(x => x.Start)
                    </div>
                    <div class="col-md-6">
                        <label asp-for="End"></label>
                        @Html.TextBoxFor(x => x.End, new{@class = "form-control", type="Date"})
                        @Html.ValidationMessageFor(x => x.End)
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4">
                        @Html.TextBoxFor(x => x.Hours, new{@class="form-control mt-2", Placeholder = "Horas"})
                        @Html.ValidationMessageFor(x => x.Hours)
                    </div>
                    <div class="col-md-8">
                        @Html.DropDownListFor(x => x.TeacherId, teachers, "Selecione o professor", new{@class="form-control mt-2"})
                        @Html.ValidationMessageFor(x => x.TeacherId)
                    </div>
                </div>
                <div class="modal-footer mt-2">
                    <a type="button" class="btn btn-secondary" asp-action="Index">Close</a>
                    <button type="submit" class="btn btn-outline-success">Save changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}